@inject IHttpContextAccessor Accessor
@model Demo.Models.PatientAppoinmentModel
@{
    var userId = @Accessor.HttpContext.Session.GetInt32("UserId");
    var doctorId = @Accessor.HttpContext.Session.GetInt32("DoctorId");
    var hospitalId = @Accessor.HttpContext.Session.GetInt32("ManagementAdminId");
    var hospitalName = @Accessor.HttpContext.Session.GetString("HospitalName");
    var flag = @Accessor.HttpContext.Session.GetInt32("FlagforMSA");
    var appFlag = @Accessor.HttpContext.Session.GetInt32("appFlag");
    @Accessor.HttpContext.Session.Remove("FlagforMSA");
    int chkapp = 0;
    if (appFlag != null)
    {
         chkapp = (int)appFlag;
    }
     string minDate = chkapp == 1 ? DateTime.Now.AddDays(1).ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd");
    DateTime dateFromDatabase = DateTime.Today;
    if (Model != null)
    {
        dateFromDatabase = @Model.AppointmentDate;
    }
    string formattedDateFromDatabase = dateFromDatabase.ToString("yyyy-MM-dd");
}
<title>Add & Edit Appointment</title>
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>

<div class="mt-3">
    @if (User.IsInRole("ManagementAdmin") || User.IsInRole("SuperAdmin"))
    {
        <partial name="PartialsViews/_HeaderForManagAdmin" />
    }
    else if (User.IsInRole("Doctor"))
    {
        <partial name="_Header" />
    }
    else if (User.IsInRole("User"))
    {
        <partial name="_UserHeader" />
    }
    @if (TempData["success"] != null)
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.success('@TempData["success"]');
        </script>
    }
    @if (TempData["error"] != null)
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.error('@TempData["error"]');
        </script>
    }
    @{
        if (Model == null)
        {
            <h3>Create New Appointment</h3>
        }
        else
        {
            if (@Model.AppointmentID == 0)
            {
                <h3>Create New Appointment</h3>
            }
            else
            {
                <h3>Edit Appointment</h3>
            }
        }
    }
    <div class="container mt-5">

        <form asp-action="AddEditAppointment" asp-area="Management" asp-controller="Management" method="post">
            <input type="hidden" asp-for="AppointmentID" name="AppointmentID" class="form-control">
            @if (User.IsInRole("Doctor"))
            {
                <partial name="_DoctorAddAppointment" />
            }
            else
            {
                @if (User.IsInRole("ManagementAdmin"))
                {
                    if (Model != null)
                    {
                        <input asp-for="HospitalID" type="hidden" />
                    }
                    else
                    {
                        <input asp-for="HospitalID" value="@hospitalId" type="hidden" />
                    }
                    <label asp-for="HospitalID" for="hospitalSelect">Hospital:</label>
                    <select asp-for="HospitalID" id="hospitalSelect" name="HospitalId" class="form-control" disabled>
                        <option value="@hospitalId">Select Hospital</option>
                    </select>
                    <span asp-validation-for="HospitalID" class="text-danger"></span>
                }

                else
                {
                    <div class="form-group">
                        <label asp-for="HospitalID" for="hospitalSelect">Hospital:</label>
                        @if (Model != null)
                        {
                            <select asp-for="HospitalID" id="hospitalSelect" name="HospitalID" class="form-control">
                                <option value="@Model.HospitalID">Select Hospital</option>
                            </select>
                        }
                        else
                        {
                            <select asp-for="HospitalID" id="hospitalSelect" name="HospitalID" class="form-control">
                                <option value="">Select Hospital</option>
                            </select>
                        }

                        <span asp-validation-for="HospitalID" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="DoctorTypeId" for="doctorTypeSelect">Doctor Type:</label>
                    @if (Model != null)
                    {

                        <select asp-for="DoctorTypeId" id="doctorTypeSelect" name="DoctorTypeId" class="form-control">
                            <option value="@Model.DoctorTypeId">Select DoctorType</option>
                        </select>

                    }
                    else
                    {
                        <select asp-for="DoctorTypeId" id="doctorTypeSelect" name="DoctorTypeId" class="form-control">
                            <option value="">Select DoctorType</option>
                        </select>
                    }
                    <span asp-validation-for="DoctorTypeId" class="text-danger"></span>


                </div>

                <div class="form-group">
                    <label asp-for="DoctorID" for="doctorSelect">Doctor:</label>
                    @if (Model != null)
                    {
                        <select asp-for="DoctorID" id="doctorSelect" name="DoctorID" class="form-control">
                            <option value="@Model.DoctorID">Select DoctorType</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="DoctorID" id="doctorSelect" name="DoctorID" class="form-control">
                            <option value="">Select DoctorType</option>
                        </select>
                    }
                    <span asp-validation-for="DoctorID" class="text-danger"></span>
                </div>

            }



            @if (!(User.IsInRole("User")))
            {
                <div class="form-group">
                    <label asp-for="PatientId" for="userSelect">User:</label>
                    @if (Model != null)
                    {
                        <select asp-for="PatientId" id="userSelect" name="PatientId" class="form-control">
                            <option value="@Model.PatientId">Select User</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="PatientId" id="userSelect" name="PatientId" class="form-control">
                            <option value="">Select User</option>
                        </select>
                    }

                    <span asp-validation-for="PatientId" class="text-danger"></span>
                </div>
            }
            @if (User.IsInRole("User"))
            {
                <input type="hidden" name="PatientId" value="@userId" />
            }
            <div class="form-row">

                @if (User.IsInRole("SuperAdmin"))
                {
                    if (Model != null)
                    {
                        <div class="form-group col-md-6">
                            <label asp-for="AppointmentDate" for="date">Date:</label>
                            <input asp-for="AppointmentDate" type="date" name="AppointmentDate" class="form-control" autocomplete="off">
                            <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                        </div>
                    }
                    else
                    {
                        <div class="form-group col-md-6">
                            <label asp-for="AppointmentDate" for="date">Date:</label>
                            <input asp-for="AppointmentDate" type="date" name="AppointmentDate" class="form-control" id="date" autocomplete="off"
                           min="@minDate">
                            <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                        </div>
                    }

                }
                else
                {
                    <div class="form-group col-md-6">
                        <label asp-for="AppointmentDate" for="date">Date:</label>
                        <input asp-for="AppointmentDate" type="date" name="AppointmentDate" class="form-control" id="date" autocomplete="off"
                           min="@minDate">
                        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                    </div>
                }


                <div class="form-group col-md-6">
                    <label asp-for="AppointmentTime" for="appointmentTime">Timezone:</label>
                    <select asp-for="AppointmentTime" id="appointmentTime" name="AppointmentTime" class="form-control">
                        <option value="">Select Timezone</option>
                        <option value="9 AM">9 AM</option>
                        <option value="11 AM">11 AM</option>
                        <option value="2 PM">2 PM</option>
                        <option value="5 PM">5 PM</option>
                    </select>
                    <span asp-validation-for="AppointmentTime" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="DiseaseDescriptions" for="diseaseDescription">Description:</label>
                <textarea asp-for="DiseaseDescriptions" class="form-control" id="diseaseDescription" name="DiseaseDescriptions" rows="3" placeholder="Enter appointment description"></textarea>
                <span asp-validation-for="DiseaseDescriptions" class="text-danger"></span>
            </div>
            @{
                if (Model == null)
                {
                    <button type="submit" class="btn btn-primary">Create</button>
                }
                else
                {
                    if (@Model.AppointmentID == 0)
                    {
                        <button type="submit" class="btn btn-primary">Create</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Edit</button>
                    }
                }
            }
            @*28 June - Update Edit Appoinment For User*@
            @if (User.IsInRole("User"))
            {

                <a asp-route-userId=@userId asp-area="User" asp-action="BookAppoint" asp-controller="User" class="btn btn-primary">Back To List</a>
            }
            else if (User.IsInRole("ManagementAdmin"))
            {

                <a asp-route-hospitalId="@hospitalId" asp-area="Management" asp-action="Appoinments" asp-controller="Management" class="btn btn-primary">Back To List</a>
            }
            else if (User.IsInRole("Doctor"))
            {
                <a asp-route-doctorId="@doctorId" asp-area="Management" asp-action="AppoinmentsByDoctor" asp-controller="Management" class="btn btn-primary">Back To List</a>
            }
            else
            {
                <a asp-area="Management" asp-action="Appoinments" asp-controller="Management" class="btn btn-primary">Back To List</a>
            }

        </form>
    </div>
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

@*27 JUNE -In Edit Method For Both Super Admin and Management Defualt Values in dropdown as per Database
*@
<script>
    $(document).ready(function () {

          var hospital = $('#hospitalSelect').val();
          var hid
         if(hospital > 0){
             hid = hospital
         }
    $.ajax({
        url: '/User/User/GetHospitals',
        success: function (response) {
            console.log(response)
            var hospitalSelect = $('#hospitalSelect');
            hospitalSelect.empty();
            hospitalSelect.append('<option value="">Select Hospital</option>');
              $.each(response, function (i, data) {
                    $('#hospitalSelect').append('<option value="' + data.hospitalId + '" id="' + data.hospitalId + '">' + data.hospitalName + '</option>');
                })
            //$.each(response, function (index, hospital) {
            //    hospitalSelect.append('<option value="' + hospital.hospitalId + '">' + hospital.hospitalName + '</option>');
            //    console.log(hospital)
            //});

            if (hid != "") {
                hospitalSelect.val(hid);
            }
        }
    });
             var doctortypeid = $('#doctorTypeSelect').val();

            $.ajax({
                url: '/User/User/GetDoctorTypes',
                data: { hospitalId: hid },
                success: function (response) {
                    var doctorTypeSelect = $('#doctorTypeSelect');
                    doctorTypeSelect.empty();
                    doctorTypeSelect.append('<option value="">Select Doctor Type</option>');
                     $.each(response, function (i, data) {
                    $('#doctorTypeSelect').append('<option value="' + data.doctorTypeId + '" id="' + data.doctorTypeId + '">' + data.doctorTypeName + '</option>');
                })
                    //$.each(response, function (index, doctorType) {
                    //    doctorTypeSelect.append('<option value="' + doctorType.doctorTypeId + '">' + doctorType.doctorTypeName + '</option>');
                    //});
                    if(doctortypeid != ""){
                    doctorTypeSelect.val(doctortypeid)
                }

                }
            });
            var doctorid = $('#doctorSelect').val();

             $.ajax({
                url: '/User/User/GetDoctors',
                data: { doctorTypeId: doctortypeid, hospitalId: hid },
                success: function (response) {
                    var doctorSelect = $('#doctorSelect');
                    doctorSelect.empty();
                    doctorSelect.append('<option value="">Select Doctor</option>');
                     $.each(response, function (i, data) {
                    $('#doctorSelect').append('<option value="' + data.doctorID + '" id="' + data.doctorID + '">' + data.doctorName + '</option>');
                })
                    //$.each(response, function (index, doctor) {
                    //    doctorSelect.append('<option value="' + doctor.doctorID + '">' + doctor.doctorName + '</option>');
                    //});
                    if(doctorid != ""){
                    doctorSelect.val(doctorid)
                }

                }
            });


         $('#hospitalSelect').on('change', function () {
            var doctorSelect = $('#doctorSelect');
            doctorSelect.empty();
            var selectedHospitalId = $(this).val();
            $.ajax({
                url: '/User/User/GetDoctorTypes',
                data: { hospitalId: selectedHospitalId },
                data: { hospitalId: selectedHospitalId },
                success: function (response) {
                    var doctorTypeSelect = $('#doctorTypeSelect');
                    doctorTypeSelect.empty();
                    doctorTypeSelect.append('<option value="">Select Doctor Type</option>');
                    $.each(response, function (index, doctorType) {
                        doctorTypeSelect.append('<option value="' + doctorType.doctorTypeId + '">' + doctorType.doctorTypeName + '</option>');
                    });
                }
            });
        });

        $('#doctorTypeSelect').on('change', function () {
            var selectedDoctorTypeId = $(this).val();
            var selectedHospitalId = $('#hospitalSelect').val();
            $.ajax({
                url: '/User/User/GetDoctors',
                data: { doctorTypeId: selectedDoctorTypeId, hospitalId: selectedHospitalId },
                success: function (response) {
                    var doctorSelect = $('#doctorSelect');
                    doctorSelect.empty();
                    doctorSelect.append('<option value="">Select Doctor</option>');
                    $.each(response, function (index, doctor) {
                        doctorSelect.append('<option value="' + doctor.doctorID + '">' + doctor.doctorName + '</option>');
                    });
                }
            });
        });

         //var patientId = document.getElementById('userSelectID').value;
         var patientId = $('#userSelect').val();
         console.log(patientId)
            $.ajax({
            url: '/User/User/GetUsers',
            success: function (response) {
                var userSelect = $('#userSelect');
                 userSelect.empty();
                userSelect.append('<option value="">Select User</option>');
                 $.each(response, function (i, data) {
                    $('#userSelect').append('<option value="' + data.userId + '" id="' + data.userId + '">' + data.userName + '</option>');
                })
                //$.each(response, function (index, user) {
                //    userSelect.append('<option value="' + user.userId + '">' + user.userName + '</option>');
                //});
                debugger
                if(patientId != ""){
                    userSelect.val(patientId);
                }
            }
        });

     @* var dateInput = document.getElementById('date');

    // Get the specific date from the Razor variable
    var specificDateFromDatabase = '@formattedDateFromDatabase';

    // Get today's date in yyyy-MM-dd format
    var today = new Date().toISOString().split('T')[0];

    // Get the flag value from Razor
    var flag = @chkapp;
    debugger
    // Set the min attribute to today's date, except the specific date and today (if flag is 1)
    if (flag == 0) {
        debugger
        if (dateInput.value === '') {
            dateInput.min = today;
        } else {
            if (dateInput.value !== specificDateFromDatabase) {
                dateInput.min = today;
            }
        }
    }*@

    });
</script>



@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}






