@model Demo.Models.DoctorDetails
@inject IHttpContextAccessor Accessor
@{
    var doctorId = @Accessor.HttpContext.Session.GetInt32("DoctorId");
    var hospitalId = @Accessor.HttpContext.Session.GetInt32("ManagementAdminId");
}
<body>
    @if (User.IsInRole("ManagementAdmin") || User.IsInRole("SuperAdmin"))
    {
        <partial name="PartialsViews/_HeaderForManagAdmin" />
    }
    <div class="container mt-5">

        @if (Model == null)
        {
            <h3>Create New Doctor</h3>
        }
        else
        {
            <h3>Edit Doctor</h3>
        }

        <form asp-area="Management" asp-action="AddEditDoctor" asp-controller="Management" id="Createform">
            <input type="hidden" asp-for="DoctorID" name="DoctorID" class="form-control">
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label">Doctor Name</label>
                <input asp-for="DoctorName" id="patientName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <!-- Doctor Dropdown List -->
            @if (User.IsInRole("ManagementAdmin"))
            {
                <label asp-for="HospitalId" for="hospitalSelect">Hospital:</label>
                <select asp-for="HospitalId" id="hospitalSelect" name="HospitalId" class="form-control">
                    <option value="@hospitalId">Select Hospital</option>
                </select>
                <span asp-validation-for="HospitalId" class="text-danger"></span>
            }
            else
            {
                <div class="form-group">
                    <label asp-for="HospitalId" for="hospitalSelect">Hospital:</label>
                    @if (Model != null)
                    {
                        <select asp-for="HospitalId" id="hospitalSelect" name="HospitalId" class="form-control">
                            <option value="@Model.HospitalId">Select Hospital</option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="HospitalId" id="hospitalSelect" name="HospitalId" class="form-control">
                            <option value="">Select Hospital</option>
                        </select>
                    }
                    <span asp-validation-for="HospitalId" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="DoctorTypeID" for="doctorTypeSelect">Doctor Type:</label>
                @if (Model != null)
                {
                    <select asp-for="DoctorTypeID" id="doctorTypeSelect" name="DoctorTypeID" class="form-control">
                        <option value="@Model.DoctorTypeID">Select DoctorType</option>
                    </select>
                }
                else
                {
                    <select asp-for="DoctorTypeID" id="doctorTypeSelect" name="DoctorTypeID" class="form-control">
                        <option value="">Select DoctorType</option>
                    </select>
                }
                <span asp-validation-for="DoctorTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select name="Status" class="form-control">
                    <option value="True">True</option>
                    <option value="False">False</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <!-- Add other form fields here -->
            @if (Model == null)
            {
                <button type="submit" class="btn btn-primary">Create</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary">Edit</button>
            }
            @if (User.IsInRole("ManagementAdmin"))
            {
                <a asp-route-hospitalId="@hospitalId" asp-area="Management" asp-action="DisplayDoctor" asp-controller="Management" class="btn btn-primary">Back To List</a>
            }
            else
            {
                <a asp-area="Management" asp-action="DisplayDoctor" asp-controller="Management" class="btn btn-primary">Back To List</a>
            }
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
             var hospital = $('#hospitalSelect').val();
                  var hid
                 if(hospital > 0){
                     hid = hospital
                 }
            $.ajax({
                url: '/User/User/GetHospitals',
                success: function (response) {
                    console.log(response)
                    var hospitalSelect = $('#hospitalSelect');
                    hospitalSelect.empty();
                    hospitalSelect.append('<option value="">Select Hospital</option>');
                      $.each(response, function (i, data) {
                            $('#hospitalSelect').append('<option value="' + data.hospitalId + '" id="' + data.hospitalId + '">' + data.hospitalName + '</option>');
                        })
                    //$.each(response, function (index, hospital) {
                    //    hospitalSelect.append('<option value="' + hospital.hospitalId + '">' + hospital.hospitalName + '</option>');
                    //    console.log(hospital)
                    //});

                    if (hid != "") {
                        hospitalSelect.val(hid);
                    }
                }
            });
           var doctortypeid = $('#doctorTypeSelect').val();

                    $.ajax({
                        url: '/User/User/GetDoctorTypes',
                        data: { hospitalId: hid },
                        success: function (response) {
                            var doctorTypeSelect = $('#doctorTypeSelect');
                            doctorTypeSelect.empty();
                            doctorTypeSelect.append('<option value="">Select Doctor Type</option>');
                             $.each(response, function (i, data) {
                            $('#doctorTypeSelect').append('<option value="' + data.doctorTypeId + '" id="' + data.doctorTypeId + '">' + data.doctorTypeName + '</option>');
                        })
                            //$.each(response, function (index, doctorType) {
                            //    doctorTypeSelect.append('<option value="' + doctorType.doctorTypeId + '">' + doctorType.doctorTypeName + '</option>');
                            //});
                            if(doctortypeid != ""){
                            doctorTypeSelect.val(doctortypeid)
                        }

                        }
                    });
                     $('#hospitalSelect').on('change', function () {
                    var doctorSelect = $('#doctorSelect');
                    doctorSelect.empty();
                    var selectedHospitalId = $(this).val();
                    $.ajax({
                        url: '/User/User/GetDoctorTypes',
                        data: { hospitalId: selectedHospitalId },
                        success: function (response) {
                            var doctorTypeSelect = $('#doctorTypeSelect');
                            doctorTypeSelect.empty();
                            doctorTypeSelect.append('<option value="">Select Doctor Type</option>');
                            $.each(response, function (index, doctorType) {
                                doctorTypeSelect.append('<option value="' + doctorType.doctorTypeId + '">' + doctorType.doctorTypeName + '</option>');
                            });
                        }
                    });
                });
        });
    </script>


    @section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

</body>



