@using Demo.Models.DummyModels
@using NonFactors.Mvc.Grid
@using System.Web.Mvc
@using PagedList
@using cloudscribe.Pagination
@inject IHttpContextAccessor Accessor
@model IPagedList<PatientAppoinmentModel>

@{
    ViewData["Title"] = "Doctor Details";
}
@{
    var userId = @Accessor.HttpContext.Session.GetInt32("UserId");
    var doctorId = @Accessor.HttpContext.Session.GetInt32("DoctorId");
    var hospitalId = @Accessor.HttpContext.Session.GetInt32("ManagementAdminId");
    var count = @Accessor.HttpContext.Session.GetInt32("total");

}
<style>
    .tick-mark {
        cursor: pointer;
    }
</style>
@*   20 June - Added Filter Functionality By Mvc Grid Package
*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">

<div class="container mt-3">
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("ManagementAdmin"))
    {
        <partial name="PartialsViews/_HeaderForManagAdmin" />
    }
    else if (User.IsInRole("Doctor"))
        {
            <partial name="_Header" />
        }
    @if (TempData["success"] != null)
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.success('@TempData["success"]');
        </script>
    }
    @if (TempData["error"] != null)
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.warning('@TempData["error"]');
        </script>
    }
    <div class="row mt-2 ms-1">
        <div class="col-md-12" style="display: flex; align-content: stretch; justify-content: flex-start;">
            <h4 class="row col-md-6">Today's Total Appointments: @count</h4>
            @if (User.IsInRole("Doctor"))
            {
                <div class="row col-md-6">
                    @if (count != 0 && (@ViewBag.name != null || @ViewBag.time != null || @ViewBag.id != null))
                    {
                        <span>
                            <strong> Patient Name:</strong> @ViewBag.name <strong> Timezone:</strong> @ViewBag.time  <strong> AppointmentId:</strong> @ViewBag.id <button class="btn btn-primary btn-sm ms-4" onclick="Complete()">
                                Treated
                            </button>
                        </span>

                    }
                </div>
            }

        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-6 ">
                @if (User.IsInRole("Doctor"))
                {
                    <a asp-area="Management" asp-action="AddEditAppointment" asp-controller="Management" class="btn btn-success">Create Appointment</a>
                }
                else
                {
                    <a asp-area="Management" asp-action="AddEditAppointment" asp-controller="Management" class="btn btn-success">Create Appointment</a>
                }
            </div>
            <div class="col-md-6" style="display: flex; align-content: stretch; justify-content:space-around; padding:0px !important">
                <div class="form-group col-md-3" style="margin:0px !important; padding:0px !important">
                    <label for="fromDate">Date From:</label>
                    <input type="date" name="fromDate" class="form-control" id="fromDate" autocomplete="off">
                </div>
                <div class="form-group col-md-3" style="margin:0px !important; padding:0px !important">
                    <label for="toDate">Date To:</label>
                    <input type="date" name="toDate" class="form-control" id="toDate" autocomplete="off">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-sm " style="margin-top: 33px;" onclick="ApproveAll()">
                        Approve All
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="appointmentStatus">Status:</label>
        <select id="appointmentStatus" class="form-control">
            <option value="All">All</option>
            <option value="Approve">Approved</option>
            <option value="Pending">Pending</option>
            <option value="Missed">Missed</option>
            <option value="Reject">Rejected</option>
            <option value="Completed">Treated/Completed</option>
        </select>
    </div>


    <div id="appointmentsContainer">
        <div class="mt-5" id="stt">
            <partial name="_FilterByStatus" />
            <!-- Add any additional content here -->
        </div>
    </div>
</div>



<script src="~/js/mvc-grid/mvc-grid.js"></script>

<script>
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>


<script>
       $(document).ready(function() {

    });

    $(document).on('click', '.pagination li', function (e) {
    e.preventDefault();
    $('.pagination li').each(function () {
        $(this).removeClass('active');
    })
    $(this).addClass('active');
    console.log($(this).children().attr("id"))
    var pageIndex = $('.pagination .active a').attr("id"); 
    pager(pageIndex);
    });
        $("#appointmentStatus").on("change", function() {
            var pa =1
            pager(pa);  });
        function pager(pageIndex){
           
             @*var pageIndex = $('.pagination .active a').attr("id");*@
            var selectedStatus = $('#appointmentStatus').val();
            var doctorId = '@ViewBag.Did';

            $.ajax({
                url: "/Management/Management/GetFilteredAppointments",
                type: "POST",
                data: { status: selectedStatus, doctorId: doctorId ,pageindex: pageIndex},
                success: function(response) {
                    $("#stt").html(response);
                     $('.pagination').html($(response).find('.pagination').html());
                },
                error: function() {
                    alert("An error occurred");
                }
            });

           }
        function updateAppointmentStatus(elementId, url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    if (data.success) {
                        var statusText = data.st === 'Approve' ? 'Approved' : 'Rejected';
                        var statusClass = data.st === 'Approve' ? 'text-success' : 'text-danger';
                        var statusElement = $('#status_' + data.id);
                        statusElement.text(statusText).removeClass('text-success text-danger text-warning').addClass(statusClass);
                    } else {
                        alert('Failed to update appointment status.');
                    }
                },
                error: function() {
                    alert("An error occurred while updating appointment status.");
                }
            });
        }
</script>
<script>
    function ApproveAll() {
        var date1 = document.getElementById('fromDate').value
        var date2 = document.getElementById('toDate').value
       $.ajax({
                url: '/Management/Management/ApproveSelectedAppointments',
                data: { date1: date1, date2: date2,DoctorId: '@doctorId'},
                success: function (response) {
                    location.reload();
                }
            });
    }
     function Complete() {
         if (@(ViewBag.id != null ? "true" : "false")){
       $.ajax({
                url: '/Management/Management/UpdateStatusComplete',
                data: { appId:'@ViewBag.id'},
                success: function (response) {
                    location.reload();
                }
            });
     }
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


@*<script src="~/js/filter.js"></script>*@