@using Demo.Models.DummyModels
@using NonFactors.Mvc.Grid
@using System.Web.Mvc
@using PagedList
@using cloudscribe.Pagination
@inject IHttpContextAccessor Accessor
@model IPagedList<PatientAppoinmentModel>

@{
    ViewData["Title"] = "Doctor Details";
}
@{
    var userId = @Accessor.HttpContext.Session.GetInt32("UserId");
    var doctorId = @Accessor.HttpContext.Session.GetInt32("DoctorId");
    var hospitalId = @Accessor.HttpContext.Session.GetInt32("ManagementAdminId");
    var count = @Accessor.HttpContext.Session.GetInt32("total");
    var chkHactive = @Accessor.HttpContext.Session.GetInt32("HospitalFlag3");
    DateTime today = DateTime.Today;
    int hour = DateTime.Now.Hour;

}
<style>
    .tick-mark {
        cursor: pointer;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="~/css/mvc-grid/mvc-grid.css" rel="stylesheet">

<div class="container mt-3">
    @if (User.IsInRole("SuperAdmin") || User.IsInRole("ManagementAdmin"))
    {
        <partial name="PartialsViews/_HeaderForManagAdmin" />
    }
    else if (User.IsInRole("Doctor"))
    {
        <partial name="_Header" />
    }
    @if (TempData["success"] != null)
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.success('@TempData["success"]');
        </script>
    }
    @if (TempData["error"] != null)
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script type="text/javascript">
            toastr.warning('@TempData["error"]');
        </script>
    }
    <div class="ms-3 mt-2">

        @if (@chkHactive != null)
        {
            <div class="alert alert-danger" style="margin: 0px !important;padding: 10px !important;">
                Hospital is Inactive! As a doctor, you can't make any further changes.
            </div>
        }

    </div>
    <div class="row mt-3 ms-1">
        <div class="col-md-12" style="display: flex; align-content: stretch; justify-content: flex-start;">
            <h4 class=" row col-md-6">Today's Total Appointments: @count</h4>
            @if (User.IsInRole("Doctor"))
            {
                <div class="row col-md-6">
                    @*@if (count != 0 && (@ViewBag.name != null || @ViewBag.time != null || @ViewBag.id != null))*@
                    @{
                        foreach (var user in @ViewBag.UserList)
                        {

                            @if (@user.Status == "Approve" && ((@hour >= 7 && @hour < 11 && @user.AppointmentTime == "9 AM") ||
                       (@hour >= 9 && @hour < 14 && @user.AppointmentTime == "11 AM") ||
                       (@hour >= 11 && @hour < 17 && @user.AppointmentTime == "2 PM") ||
                       (@hour >= 14 && @hour < 19 && @user.AppointmentTime == "5 PM")))
                            {
                                <div class="d-flex justify-content-between">
                                    <span class="col-md-8">
                                        <strong> Patient Name:</strong>
                                        @user.Name <strong> Timezone:</strong> @user.AppointmentTime
                                    </span>
                                    <span class="ms-4 col-md-4">
                                        <a class="btn btn-primary btn-sm" asp-route-ongoing="ongoing" asp-route-id="@user.AppID" asp-action="PatientDetails" asp-controller="Doctor" asp-area="Doctor">
                                            Ongoing
                                        </a>
                                        <button class="btn btn-primary btn-sm" onclick="Complete(@user.AppID)">
                                            Treated
                                        </button>
                                    </span>
                                </div>


                            }
                            else if (@user.Status == "Completed" && ((@hour >= 7 && @hour < 11 && @user.AppointmentTime == "9 AM") ||
                            (@hour >= 9 && @hour < 14 && @user.AppointmentTime == "11 AM") ||
                            (@hour >= 11 && @hour < 17 && @user.AppointmentTime == "2 PM") ||
                            (@hour >= 14 && @hour < 19 && @user.AppointmentTime == "5 PM")))
                            {
                                <div class="d-flex justify-content-between">
                                    <span class="col-md-8">
                                        <strong> Patient Name:</strong>
                                        @user.Name <strong> Timezone:</strong> @user.AppointmentTime
                                    </span>
                                    <span class="ms-4 col-md-4">
                                        <button class="btn btn-primary btn-sm" onclick="Complete(@user.AppID)" disabled>
                                            Treated
                                        </button>
                                    </span>
                                </div>

                            }



                            <span class="mt-2"></span>

                        }

                    }
                </div>
            }

        </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="row">
            <div class="col-md-6 ">
                @if (User.IsInRole("Doctor"))
                {
                    if (@chkHactive != null)
                    {
                        <a onclick="NotAccess()" class="btn btn-success text-white">Create Appointment</a>
                    }
                    else
                    {
                        <a asp-area="Management" asp-action="AddEditAppointment" asp-controller="Management" class="btn btn-success ">Create Appointment</a>
                    }

                }
                else
                {
                    <a asp-area="Management" asp-action="AddEditAppointment" asp-controller="Management" class="btn btn-success">Create Appointment</a>
                }
            </div>
            <div class="col-md-6" style="display: flex; align-content: stretch; justify-content:space-around; padding:0px !important">
                <div class="form-group col-md-3" style="margin:0px !important; padding:0px !important">
                    <label for="fromDate">Date From:</label>
                    <input type="date" name="fromDate" class="form-control" id="fromDate" autocomplete="off">
                </div>
                <div class="form-group col-md-3" style="margin:0px !important; padding:0px !important">
                    <label for="toDate">Date To:</label>
                    <input type="date" name="toDate" class="form-control" id="toDate" autocomplete="off">
                </div>
                <div class="col-md-3">
                    @{
                        if (chkHactive != null)
                        {
                            <button class="btn btn-primary btn-sm " style="margin-top: 33px;" onclick="NotAccess()">
                                Approve All
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-primary btn-sm " style="margin-top: 33px;" onclick="ApproveAll()">
                                Approve All
                            </button>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <label for="appointmentStatus">Status:</label>
        <select id="appointmentStatus" class="form-control">
            <option value="All">All</option>
            <option value="Approve">Approved</option>
            <option value="Pending">Pending</option>
            <option value="Missed">Missed</option>
            <option value="Reject">Rejected</option>
            <option value="Completed">Treated/Completed</option>
        </select>
    </div>


    <div id="appointmentsContainer">
        <div class="mt-5" id="stt">
            <partial name="_FilterByStatus" />
            <!-- Add any additional content here -->
        </div>
    </div>
</div>



<script src="~/js/mvc-grid/mvc-grid.js"></script>

<script>
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>


<script>
       $(document).ready(function() {

    });

    $(document).on('click', '.pagination li', function (e) {
    e.preventDefault();
    $('.pagination li').each(function () {
        $(this).removeClass('active');
    })
    $(this).addClass('active');
    console.log($(this).children().attr("id"))
    var pageIndex = $('.pagination .active a').attr("id");
    pager(pageIndex);
    });
        $("#appointmentStatus").on("change", function() {
            var pa =1
            pager(pa);  });
        function pager(pageIndex){

    @*var pageIndex = $('.pagination .active a').attr("id");*@
            var selectedStatus = $('#appointmentStatus').val();
            var doctorId = '@ViewBag.Did';

            $.ajax({
                url: "/Management/Management/GetFilteredAppointments",
                type: "POST",
                data: { status: selectedStatus, doctorId: doctorId ,pageindex: pageIndex},
                success: function(response) {
                    $("#stt").html(response);
                     $('.pagination').html($(response).find('.pagination').html());
                },
                error: function() {
                    alert("An error occurred");
                }
            });

           }
        function updateAppointmentStatus(elementId, url) {
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    if (data.success) {
                        var statusText = data.st === 'Approve' ? 'Approved' : 'Rejected';
                        var statusClass = data.st === 'Approve' ? 'text-success' : 'text-danger';
                        var statusElement = $('#status_' + data.id);
                        statusElement.text(statusText).removeClass('text-success text-danger text-warning').addClass(statusClass);
                    } else {
                        alert('Failed to update appointment status.');
                    }
                },
                error: function() {
                    alert("An error occurred while updating appointment status.");
                }
            });
        }
</script>
<script>
        function ApproveAll() {
            var date1 = document.getElementById('fromDate').value
            var date2 = document.getElementById('toDate').value
           $.ajax({
                    url: '/Management/Management/ApproveSelectedAppointments',
                    data: { date1: date1, date2: date2,DoctorId: '@doctorId'},
                    success: function (response) {
                        location.reload();
                    }
                });
        }
         function Complete(AppID) {
              debugger
             if (AppID !== ''){
           $.ajax({
                    url: '/Management/Management/UpdateStatusComplete',
                    data: { appId:AppID},
                    success: function (response) {
                        location.reload();
                    }
                });
         }
        }

        function NotAccess(){
            swal.fire({
      title: "Hospital InActive!",
      text: "As a doctor, you don't have the required privileges to perform CRUD operations.!",
      icon: "error",
      button: "OK",
    });
        }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


@*<script src="~/js/filter.js"></script>*@